Repository polisai/polis-oss: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, go-test, gosec

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags in GitHub Actions
      - id: check-added-large-files
        args: ['--maxkb=1024']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Go-specific checks
  - repo: local
    hooks:
      # Go format
      - id: go-fmt
        name: go fmt
        entry: gofmt
        args: [-w, .]
        language: system
        files: \.go$
        pass_filenames: false

      # Go vet
      - id: go-vet
        name: go vet
        entry: go vet
        language: system
        files: \.go$
        pass_filenames: false

      # Go mod tidy
      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      # Run tests
      - id: go-test
        name: go test
        entry: go test
        args: [-race, -timeout=2m, ./...]
        language: system
        files: \.go$
        pass_filenames: false

      # Security scan
      - id: gosec
        name: gosec security scan
        entry: gosec
        args: [-no-fail, ./...]
        language: system
        files: \.go$
        pass_filenames: false

  # Secret scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: ['--fix']

# Global settings
default_language_version:
  python: python3.11

Remove VSCode workspace configuration files
  .vscode/launch.json
  .vscode/settings.json
Due: none

Tidy go.mod
  go.mod
Due: go-mod-tidy

Add LLM Judge node for policy evaluation
  pkg/engine/executor.go
  pkg/nodes/llm_judge/v1/dto.go
  pkg/nodes/llm_judge/v1/handler.go
  pkg/nodes/llm_judge/v1/local_provider.go
  pkg/nodes/llm_judge/v1/provider.go
Due: go-fmt, go-vet, go-test, gosec

Add example prompt for strict safety rules and safety
  prompts/rules/strict_safety.txt
  prompts/tasks/safety_check.txt
Due: none

Add LLM Judge pipeline config and improve error handling
  .env.example
  .gitignore
  cmd/proxy/main.go
  config/pipelines_llm_judge.yaml
  go.mod
  go.sum
  pkg/engine/http_handler.go
  pkg/engine/http_handler_test.go
  pkg/nodes/llm_judge/v1/dto.go
  pkg/nodes/llm_judge/v1/handler.go
  pkg/nodes/llm_judge/v1/local_provider.go
  pkg/nodes/llm_judge/v1/provider.go
  tests/e2e/llm_test.go
  tests/integration/simple_http_example_test.go
  tmp/e2e/bootstrap-empty.yaml
Due: go-fmt, go-vet, go-mod-tidy, go-test, gosec

Change agent for test pipeline to gpt-5-mini
  config/pipelines_llm_judge.yaml
Due: none

Update codebase_summary.md
  docs/codebase_summary.md
Due: none

Add DLP tokenization and detokenization support
  cmd/proxy/main.go
  config/pipelines_llm_judge.yaml
  pkg/engine/executor.go
  pkg/engine/handlers/detokenize.go
  pkg/engine/handlers/dlp.go
  pkg/engine/http_handler.go
  pkg/policy/dlp/dlp.go
  pkg/policy/dlp/scanner.go
  pkg/policy/dlp/stream_redactor.go
  pkg/policy/dlp/types.go
  pkg/storage/memory_vault.go
  pkg/storage/vault.go
  tests/e2e/dlp_e2e_test.go
Due: go-fmt, go-vet, go-test, gosec

Refactor proxy main and update DLP handler test
  cmd/proxy/main.go
  docs/codebase_summary.md
  docs/user_simulation/03_user_stories.md
  pkg/engine/handlers/dlp_handler_test.go
Due: go-fmt, go-vet, go-test, gosec

Remove 03_user_stories.md
  docs/user_simulation/03_user_stories.md
Due: none

Update default data plane port to 8090
  cmd/proxy/main.go
  pkg/config/config.go
Due: go-fmt, go-vet, go-test, gosec

Add user simulation guides and scenario assets
  docs/codebase_summary.md
  docs/user_simulation/01_setup_guide.md
  docs/user_simulation/02_configuration_guide.md
  docs/user_simulation/assets/scenario_1_pii/pipeline.yaml
  docs/user_simulation/assets/scenario_2_cost/pipeline.yaml
  docs/user_simulation/assets/scenario_2_cost/policies/cost_policy.rego
  docs/user_simulation/assets/scenario_3_compliance/pipeline.yaml
  docs/user_simulation/assets/scenario_3_compliance/policies/compliance.rego
  docs/user_simulation/scenarios/01_basic_passthrough/README.md
  docs/user_simulation/scenarios/01_basic_passthrough/pipeline.yaml
  docs/user_simulation/scenarios/02_policy_governance/README.md
  docs/user_simulation/scenarios/02_policy_governance/pipeline.yaml
  docs/user_simulation/scenarios/02_policy_governance/policy.rego
  docs/user_simulation/scenarios/03_pii_protection/README.md
  docs/user_simulation/scenarios/03_pii_protection/dlp_rules.yaml
  docs/user_simulation/scenarios/03_pii_protection/pipeline.yaml
  docs/user_simulation/scenarios/04_llm_judge_guardrails/README.md
  docs/user_simulation/scenarios/04_llm_judge_guardrails/pipeline.yaml
  docs/user_simulation/scenarios/05_observability/README.md
  docs/user_simulation/scenarios/05_observability/config.yaml
Due: none

Update README.md
  README.md
Due: none

Update .gitignore
  .gitignore
Due: none

Remove legacy proxy entry point and Redis config
  cmd/proxy/main.go
  docs/codebase_summary.md
  pkg/config/config.go
Due: go-fmt, go-vet, go-test, gosec

Remove proxy, update server and config handling
  README.md
  cmd/polis-core/main.go
  cmd/proxy/main.go
  pkg/config/config.go
  tests/e2e/harness.go
Due: go-fmt, go-vet, go-test, gosec

Add health check endpoint and improve server startup
  cmd/polis-core/main.go
Due: go-fmt, go-vet, go-test, gosec

chore: refactor README and update build scripts to rename binary to 'polis'; remove deprecated pipeline configurations
  README.md
  build.ps1
  cmd/proxy/main.go
  examples/config.yaml
  examples/pipelines/demo-pipeline.yaml
  examples/pipelines/dlp-pipeline.yaml
  examples/pipelines/header-manipulation.json
  examples/pipelines/pipeline.yaml
  examples/pipelines/policy-pipeline.yaml
  examples/pipelines/waf-pipeline.yaml
  pkg/engine/handlers/dlp_handler_test.go
  tests/e2e/harness.go
  tests/fixtures/pipelines/header-manipulation.json
  tests/integration/header_manipulation_example_test.go
Due: go-fmt, go-vet, go-test, gosec

fix: update build script to output 'polis-core' binary and add health check endpoint
  build.ps1
  cmd/polis-core/main.go
Due: go-fmt, go-vet, go-test, gosec

Update build script references from Secure AI Proxy to Polis
  build.ps1
Due: none

Change default proxy port from 8080 to 8090
  .env.example
  build.ps1
  cmd/polis-core/main.go
  docs/codebase_summary.md
  docs/user_simulation/01_setup_guide.md
  docs/user_simulation/02_configuration_guide.md
  tests/e2e/harness.go
Due: go-fmt, go-vet, go-test, gosec

Add initial configuration file
  config.yaml
Due: none

Add support for policy bundles in config snapshot
  cmd/polis-core/main.go
  pkg/config/conversion.go
  pkg/config/policy_bundle.go
  pkg/domain/config.go
  pkg/engine/handlers/policy.go
Due: go-fmt, go-vet, go-test, gosec

Add support for loading DLP rules from YAML file
  pkg/engine/handlers/dlp.go
Due: go-fmt, go-vet, go-test, gosec

Add mock upstream server and update docs
  config/policy.rego
  docs/user_simulation/scenarios/03_pii_protection/README.md
  docs/user_simulation/scenarios/03_pii_protection/dlp_rules.yaml
  docs/user_simulation/scenarios/04_llm_judge_guardrails/README.md
  mock_upstream.py
Due: none

Remove Go binary size flags from build and install
  .vscode/launch.json
  build.ps1
Due: none

Refactor logging to use slog and remove zerolog
  cmd/polis-core/main.go
  pkg/logging/logger.go
Due: go-fmt, go-vet, go-test, gosec

Update LLM judge guardrails scenario config and docs
  docs/user_simulation/scenarios/04_llm_judge_guardrails/README.md
  docs/user_simulation/scenarios/04_llm_judge_guardrails/pipeline.yaml
Due: none

feach: adding user onboarding docs and artifacts
  user-onbording/DELIVERABLES-SUMMARY.md
  user-onbording/IMPLEMENTATION-GUIDE.md
  user-onbording/Makefile
  user-onbording/ONBOARDING-FLOW.md
  user-onbording/QUICK-REFERENCE.md
  user-onbording/QUICKSTART.md
  user-onbording/README-updated.md
  user-onbording/compose.http-proxy.yaml
  user-onbording/compose.transparent.yaml
  user-onbording/demo-policy.yaml
  user-onbording/quickstart.sh
  user-onbording/sidecar-demo.yaml
Due: none

Add integration tests and improve LLM judge handler
  cmd/polis-core/main.go
  pkg/engine/http_handler.go
  pkg/nodes/llm_judge/v1/dto.go
  pkg/nodes/llm_judge/v1/handler.go
  test/integration/scenarios_test.go
Due: go-fmt, go-vet, go-test, gosec

Add example configs for passthrough, LLM, PII, and policy
  examples/basic-passthrough/README.md
  examples/basic-passthrough/config.yaml
  examples/config.yaml
  examples/llm-guardrails/README.md
  examples/llm-guardrails/config.yaml
  examples/llm-guardrails/prompts/rules/strict.txt
  examples/llm-guardrails/prompts/tasks/safety.txt
  examples/observability/README.md
  examples/observability/config.yaml
  examples/pii-redaction/README.md
  examples/pii-redaction/config.yaml
  examples/pii-redaction/dlp_rules.yaml
  examples/policy-enforcement/README.md
  examples/policy-enforcement/config.yaml
  examples/policy-enforcement/policy.rego
Due: none

Update example configs and docs for clarity and accuracy
  examples/llm-guardrails/README.md
  examples/llm-guardrails/config.yaml
  examples/pii-redaction/config.yaml
  examples/pii-redaction/dlp_rules.yaml
Due: none

Log upstream URL for active pipelines
  cmd/polis-core/main.go
Due: go-fmt, go-vet, go-test, gosec

feat: adding user onboarding
  Dockerfile
  README.md
  docs/onboarding/design/Makefile
  docs/onboarding/design/README.md
  docs/onboarding/design/compose.http-proxy.yaml
  docs/onboarding/design/compose.transparent.yaml
  docs/onboarding/design/deliverables-summary.md
  docs/onboarding/design/demo-policy.yaml
  docs/onboarding/design/implementation-guide.md
  docs/onboarding/design/onboarding-flow.md
  docs/onboarding/design/quick-reference-original.md
  docs/onboarding/design/quickstart-original.md
  docs/onboarding/design/quickstart-original.sh
  docs/onboarding/design/readme-proposal.md
  docs/onboarding/design/sidecar-demo.yaml
  docs/onboarding/quick-reference.md
  docs/onboarding/quickstart.md
  quickstart/compose.http-proxy.yaml
  quickstart/config.yaml
  scripts/quickstart.sh
  user-onbording/DELIVERABLES-SUMMARY.md
  user-onbording/IMPLEMENTATION-GUIDE.md
  user-onbording/Makefile
  user-onbording/ONBOARDING-FLOW.md
  user-onbording/QUICKSTART.md
  user-onbording/README-updated.md
  user-onbording/compose.transparent.yaml
  user-onbording/demo-policy.yaml
  user-onbording/quickstart.sh
  user-onbording/sidecar-demo.yaml
Due: none

feat: Add quickstart onboarding scripts and configurations for Polis (wip)
  Makefile
  ONBOARDING-FLOW.md
  ONBOARDING-IMPLEMENTATION-SUMMARY.md
  README.md
  docs/onboarding/design/Makefile
  docs/onboarding/design/deliverables-summary.md
  docs/onboarding/design/implementation-guide.md
  docs/onboarding/design/quick-reference-original.md
  docs/onboarding/design/quickstart-original.md
  docs/onboarding/design/readme-proposal.md
  docs/onboarding/quick-reference.md
  docs/onboarding/quickstart.md
  examples/pipelines/onboarding-progressive.yaml
  examples/pipelines/quickstart-complete.yaml
  quickstart.ps1
  quickstart.sh
  quickstart/compose.polis.yaml
  quickstart/config-local.yaml
  quickstart/k8s/polis-demo.yaml
  scripts/quickstart.sh
  test-onboarding.ps1
  test-onboarding.sh
Due: none
