Repository polisai/polis-oss: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, go-test, gosec

go-fmt:
  name: go fmt
  entry: gofmt
  args:
  - -w
  - .
  language: system
  pass_filenames: false

go-vet:
  name: go vet
  entry: go vet
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: go test
  args:
  - -race
  - -timeout=2m
  - ./...
  language: system
  pass_filenames: false

gosec:
  name: gosec security scan
  entry: gosec
  args:
  - -no-fail
  - ./...
  language: system
  pass_filenames: false

feat: Enhance user onboarding with agent integration and WAF configurations
  README.md
  docs/onboarding/agent-integration-guide.md
  docs/onboarding/how-to-use-polis-with-agents.md
  docs/onboarding/quick-reference.md
  docs/onboarding/quickstart.md
  quickstart/config-gemini.yaml
  quickstart/config-real-api.yaml
Due: none

Add HTTPS CONNECT tunneling support to HTTP egress
  cmd/polis-core/main.go
  pkg/engine/http_egress.go
  pkg/engine/http_handler.go
Due: go-fmt, go-vet, go-test, gosec

Add /health endpoint for health checks
  cmd/polis-core/main.go
Due: go-fmt, go-vet, go-test, gosec

Add proxy mechanism tests and config improvements
  pkg/config/conversion.go
  pkg/config/snapshot.go
  pkg/engine/handlers/egress_http.go
  tests/e2e/harness.go
  tests/e2e/proxy_mechanisms_test.go
Due: go-fmt, go-vet, go-test, gosec

feat: fixing onboarding script
  quickstart.ps1
  quickstart.sh
Due: none

fix(http_handler): Skip body reading for CONNECT tunnel requests
  pkg/engine/http_handler.go
Due: go-fmt, go-vet, go-test, gosec

feat(build,tls): Add certificate generation tool and enhance build system
  build.ps1
  config.yaml
  docs/user_simulation/scenarios/05_observability/config.yaml
  examples/README-TLS.md
  examples/basic-passthrough/config.yaml
  examples/llm-guardrails/config.yaml
  examples/observability/config.yaml
  examples/pii-redaction/config.yaml
  examples/policy-enforcement/config.yaml
  examples/setup-tls-certs.ps1
  examples/tls-termination/config.yaml
  examples/tls-termination/upstream-tls-config.yaml
  pkg/engine/http_handler.go
Due: go-fmt, go-vet, go-test, gosec

feat(http_handler): Extract and expose TLS context in pipeline
  pkg/engine/http_handler.go
Due: go-fmt, go-vet, go-test, gosec

feat: add `polis-cert` CLI for TLS certificate generation and management, an example README, and update `.gitignore`.
  .gitignore
  .kiro/specs/tls-termination/design.md
  .kiro/specs/tls-termination/requirements.md
  .kiro/specs/tls-termination/tasks.md
  cmd/polis-cert/inspector.go
  cmd/polis-cert/main.go
  examples/README-TLS.md
  examples/setup-tls-certs.ps1
  examples/tls-termination/CERTIFICATE_GENERATION.md
  examples/tls-termination/HTTP_TO_HTTPS_MIGRATION_GUIDE.md
  examples/tls-termination/INDEX.md
  examples/tls-termination/README.md
Due: go-fmt, go-vet, go-test, gosec

Add MCP governance example and SSE-aware DLP support
  debug_langchain.py
  examples/mcp-governance/README.md
  examples/mcp-governance/client/requirements.txt
  examples/mcp-governance/client/server.py
  examples/mcp-governance/client/verify_crewai.py
  examples/mcp-governance/client/verify_governance.py
  examples/mcp-governance/client/verify_langchain.py
  examples/mcp-governance/config.yaml
  examples/mcp-governance/policies/governance.rego
  pkg/engine/dlp_helpers.go
  pkg/engine/dlp_sse_test.go
  pkg/engine/engine_factory.go
  pkg/engine/executor.go
  pkg/engine/handlers/mcp_filter.go
  pkg/engine/http_egress.go
  pkg/engine/http_handler.go
Due: go-fmt, go-vet, go-test, gosec

Refactor search tool to use SSE client and BaseTool
  examples/mcp-governance/client/verify_crewai.py
Due: none

Add MCP feature expansion plan documentation
  docs/mcp_expansion_plan.md
Due: none

Add polis-bridge CLI and bridge core package
  cmd/polis-bridge/main.go
  cmd/polis-bridge/main_test.go
  go.mod
  go.sum
  pkg/bridge/README.md
  pkg/bridge/bridge.go
  pkg/bridge/bridge_test.go
  pkg/bridge/config.go
  pkg/bridge/config_reloader.go
  pkg/bridge/config_reloader_test.go
  pkg/bridge/config_watcher.go
  pkg/bridge/errors.go
  pkg/bridge/interfaces.go
  pkg/bridge/interfaces_test.go
  pkg/bridge/logging.go
  pkg/bridge/metrics.go
  pkg/bridge/middleware.go
  pkg/bridge/middleware_test.go
  pkg/bridge/process_manager.go
  pkg/bridge/process_manager_test.go
  pkg/bridge/ring_buffer.go
  pkg/bridge/session_manager.go
  pkg/bridge/session_manager_test.go
  pkg/bridge/sse.go
  pkg/bridge/sse_test.go
  pkg/bridge/stream_inspector.go
  pkg/bridge/stream_inspector_test.go
  pkg/bridge/tracing.go
  pkg/engine/dlp_helpers.go
  pkg/engine/handlers/sse_inspector.go
  pkg/engine/http_egress.go
Due: go-fmt, go-vet, go-mod-tidy, go-test, gosec

Implement config reload on SIGHUP and improve tests
  cmd/polis-bridge/main.go
  pkg/bridge/config_reloader_test.go
  pkg/bridge/process_manager_test.go
Due: go-fmt, go-vet, go-test, gosec

Add MCP Bridge example, config, policies, and integration tests
  README.md
  examples/mcp-bridge/README.md
  examples/mcp-bridge/config.yaml
  examples/mcp-bridge/policies/elicitation.rego
  examples/mcp-governance/README.md
  examples/mcp-governance/config-bidirectional.yaml
  examples/mcp-governance/policies/elicitation.rego
  pkg/bridge/process_manager_test.go
  tests/integration/bridge_integration_test.go
Due: go-fmt, go-vet, go-test, gosec

Add MCP expansion test plan and malicious tool example
  docs/mcp_expansion_test_plan.md
  examples/mcp-bridge/malicious_tool.py
Due: none

Add agent ID auth middleware and relaxed/strict modes
  automated_test.py
  cat_sse.py
  cmd/polis-bridge/main.go
  debug_sse.py
  docs/mcp_expansion_test_plan.md
  pkg/bridge/bridge.go
  pkg/bridge/config.go
  pkg/bridge/middleware.go
  pkg/bridge/middleware_test.go
  polis-enterprise.yaml
  polis-oss.yaml
  test_cycle.py
  test_output.txt
  tool_list_req.json
  tools_list.json
Due: go-fmt, go-vet, go-test, gosec

Improve bridge shutdown and add CORS support
  pkg/bridge/bridge.go
Due: go-fmt, go-vet, go-test, gosec

Improve CORS handling and enhance metrics middleware
  pkg/bridge/bridge.go
  pkg/bridge/metrics.go
Due: go-fmt, go-vet, go-test, gosec

Improve process stdout/stderr handling for large payloads
  docs/mcp_expansion_test_plan.md
  pkg/bridge/process_manager.go
Due: go-fmt, go-vet, go-test, gosec

Add auto-resume for disconnected SSE sessions
  pkg/bridge/bridge.go
  pkg/bridge/interfaces.go
  pkg/bridge/session_manager.go
Due: go-fmt, go-vet, go-test, gosec

Add policy engine integration to bridge
  cmd/polis-bridge/main.go
  examples/mcp-bridge/config.yaml
  pkg/bridge/config.go
Due: go-fmt, go-vet, go-test, gosec

Add unified sidecar design docs and sidecar package
  DESIGN_TEMP.md
  docs/agent_migration_prompt.md
  docs/mcp_expansion_test_plan.md
  docs/mcp_ide_integration.md
  docs/mcp_implementation_research.md
  docs/mcp_unified_sidecar_migration_plan.md
  docs/polis_system_architecture_for_research.md
  examples/mcp-bridge/ide-adapter/mcp_sse_client.py
  pkg/sidecar/config.go
  pkg/sidecar/config_loader.go
  pkg/sidecar/config_loader_test.go
  pkg/sidecar/context_manager.go
  pkg/sidecar/context_manager_test.go
  pkg/sidecar/local_process_manager.go
  pkg/sidecar/local_process_manager_test.go
  pkg/sidecar/mocks_test.go
  pkg/sidecar/process_manager.go
  pkg/sidecar/process_manager_test.go
Due: go-fmt, go-vet, go-test, gosec

Add BridgeRouter and InterceptorServer with tests
  go.mod
  go.sum
  pkg/sidecar/bridge_router.go
  pkg/sidecar/bridge_router_test.go
  pkg/sidecar/interceptor.go
  pkg/sidecar/interceptor_test.go
Due: go-fmt, go-vet, go-mod-tidy, go-test, gosec

Add Sidecar core, metrics, and tests
  pkg/sidecar/local_process_manager.go
  pkg/sidecar/metrics.go
  pkg/sidecar/metrics_test.go
  pkg/sidecar/process_manager_test.go
  pkg/sidecar/sidecar.go
  pkg/sidecar/sidecar_test.go
Due: go-fmt, go-vet, go-test, gosec

Add secret redaction and SSE serialization utilities
  pkg/sidecar/secrets.go
  pkg/sidecar/secrets_test.go
  pkg/sidecar/serialization.go
  pkg/sidecar/serialization_test.go
Due: go-fmt, go-vet, go-test, gosec

Add pass-through mode and evaluator swapping to InterceptorServer
  pkg/sidecar/interceptor.go
  pkg/sidecar/resilience_test.go
Due: go-fmt, go-vet, go-test, gosec

Create main.go
  cmd/polis/main.go
Due: go-fmt, go-vet, go-test, gosec

Update codebase_summary.md
  docs/codebase_summary.md
Due: none

Add comprehensive MCP testing and integration docs
  docs/testing/01-quick-start.md
  docs/testing/02-vscode-integration.md
  docs/testing/03-windsurf-integration.md
  docs/testing/04-git-mcp-testing.md
  docs/testing/05-brave-search-testing.md
  docs/testing/06-policy-enforcement.md
  docs/testing/07-troubleshooting.md
  docs/testing/README.md
Due: none

docs: consolidate and clean up onboarding documentation
  ONBOARDING-FLOW.md
  ONBOARDING-IMPLEMENTATION-SUMMARY.md
  docs/onboarding/design/Makefile
  docs/onboarding/design/README.md
  docs/onboarding/design/compose.http-proxy.yaml
  docs/onboarding/design/compose.transparent.yaml
  docs/onboarding/design/deliverables-summary.md
  docs/onboarding/design/demo-policy.yaml
  docs/onboarding/design/implementation-guide.md
  docs/onboarding/design/onboarding-flow.md
  docs/onboarding/design/quick-reference-original.md
  docs/onboarding/design/quickstart-original.md
  docs/onboarding/design/quickstart-original.sh
  docs/onboarding/design/readme-proposal.md
  docs/onboarding/design/sidecar-demo.yaml
  docs/onboarding/how-to-use-polis-with-agents.md
  docs/onboarding/quickstart.md
  examples/tls-termination/QUICKSTART-TLS.md
  mock_upstream.py
  quickstart.ps1
  quickstart.sh
  test-onboarding.ps1
  test-onboarding.sh
Due: none

Remove legacy bridge CLI and update docs for unified sidecar
  cat_sse.py
  cmd/polis-bridge/main.go
  cmd/polis-bridge/main_test.go
  debug_langchain.py
  debug_sse.py
  docs/mcp_expansion_test_plan.md
  docs/mcp_ide_integration.md
  docs/mcp_implementation_research.md
  docs/mcp_unified_sidecar_migration_plan.md
  docs/testing/01-quick-start.md
  docs/testing/04-git-mcp-testing.md
  examples/pii-redaction/config-pii-openai.yaml
  pkg/bridge/bridge.go
  pkg/bridge/bridge_test.go
  pkg/sidecar/sidecar.go
  tool_list_req.json
  tools_list.json
Due: go-fmt, go-vet, go-test, gosec

Remove legacy design and migration docs, update README
  DESIGN_TEMP.md
  README.md
  docs/agent_migration_prompt.md
  docs/mcp_expansion_plan.md
  docs/mcp_expansion_test_plan.md
  docs/mcp_ide_integration.md
  docs/polis_system_architecture_for_research.md
  docs/testing/01-quick-start.md
  docs/testing/02-vscode-integration.md
  docs/testing/03-windsurf-integration.md
  docs/testing/04-git-mcp-testing.md
  docs/testing/05-brave-search-testing.md
  docs/testing/06-policy-enforcement.md
  docs/testing/07-troubleshooting.md
  docs/testing/README.md
  examples/mcp-bridge/README.md
  examples/mcp-governance/README.md
Due: none

Refactor sidecar server config and enhance pipeline support
  automated_test.py
  cmd/polis/main.go
  mock_upstream.py
  pkg/sidecar/config.go
  pkg/sidecar/config_loader.go
  pkg/sidecar/local_process_manager.go
  pkg/sidecar/sidecar.go
  test_cycle.py
  test_output.txt
Due: go-fmt, go-vet, go-test, gosec

Update examples/mcp-bridge/ide-adapter/mcp_sse_client.py
  examples/mcp-bridge/ide-adapter/mcp_sse_client.py
Due: none

Update examples/mcp-governance/client/server.py
  examples/mcp-governance/client/server.py
Due: none

Update codebase summary for unified sidecar and MCP bridge
  docs/codebase_summary.md
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  go-test: any of: \.go$
  gosec: any of: \.go$
